<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.documentscannerplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DocumnetScannerPlugin</name>
    <js-module name="DocumnetScannerPlugin" src="www/DocumnetScannerPlugin.js">
        <clobbers target="cordova.plugins.DocumnetScannerPlugin" />
    </js-module>
    <platform name="android">
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DocumnetScannerPlugin">
                <param name="android-package" value="cordova.plugin.documentscannerplugin.DocumnetScannerPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat" />
            <activity android:name="com.example.mylibrary.Camera2APIActivity" android:theme="@style/Theme.MyApplication.NoActionBar" />
            <activity android:name="com.example.mylibrary.CropImageActivity" android:theme="@style/Base.Theme.AppCompat" />
            <activity android:name="com.example.mylibrary.MainActivity" android:theme="@style/Base.Theme.AppCompat" />
            <activity android:name="com.example.mylibrary.PickFromGalleryActivity" android:theme="@style/Base.Theme.AppCompat" />
        </config-file>
        <source-file src="src/android/DocumnetScannerPlugin.java" target-dir="src/cordova/plugin/documentscannerplugin/DocumnetScannerPlugin" />
    </platform>
</plugin>